* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #9370db;
  gap: 10px;
}

h1 {
  font-size: 80px;
}

header {
  text-align: center;
  padding: 20px;
  border-radius: 50px;
  color: white;
}

main {
  padding: 50px;
  max-width: 600px;
  background-color: white;
  height: 70vh;
  border-radius: 30px;
}

#lista-tarefas {
  border-radius: 10px;
  height: 78%;
}

.move {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.cleaning {
  position: relative;
  bottom: 20px;
  display: flex;
  align-content: center;
}

.btn-warning {
  background-color: #f4efd6;
  border: none;
}

.selected {
  background-color: rgb(240, 240, 240);
}

.completed {
  text-decoration: line-through solid black;
}
